.product-description.active {
    background-color: var(--menu-item-background);
    border: 1px solid #000000;
    border-radius: 25px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.product-button, input[type="submit"], input[type="reset"] {
	background: none;
	border: none;
    padding: 0;
	cursor: pointer;
}

.product-name-and-image {
    text-align: center;
}

.product-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.product-name {
    width: 210px;
}

.product-selections {
    display: none;
}

.selections-space-btwn {
    justify-content: space-between;
}

.selections-center {
    justify-content: center;
}

.product-selections.active {
    width: 85%;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.size-selector {
    width: 100px;
}

.size-selector div {
    display: flex;
    justify-content: space-between;
}

.product-price {
    text-align: center;
    margin-bottom: 3px;
}

.added-to-cart-message {
    margin-bottom: 0px;
    background-color: var(--main-pink-color);
    color: white;
}

.Toastify__toast-container--bottom-center {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0;
}